<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=head%></h1>


<% newListItem.forEach(function(item){  %>
<form action="/delete" method="POST">
<p><input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()"><%= item.name%></p>
<input type="hidden" name="hiddenInput" value="<%=head%>">
</form>
<%})%>

    <form action="/" method="POST">
    <input type="text" name="newItem">
    <button type="submit" name="buttonAdd" value="<%=head%>">+</button>
    </form>
    
</body>
</html>